.chat-container{
    width: 30vw;
    margin: 12px;
    padding: 0px;
    height: 70vh;
    border: 2px solid navy;
    display: flex;
    flex-direction: column;}

.inner-container{
    background-color: rgb(80, 143, 216);
    padding: 12px;
}
.conversation-container{
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid black;
}
.agent-msg{
    
}