.Sectionfive {
    background-color: rgb(219, 255, 88)  ;
    margin: 20px 20px;
    padding: 60px 60px;
    border-radius: 30px;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.section-five-heading h1{
    color: rgb(24, 23, 23);
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}  
.section-five-heading p{
    color: rgb(53, 53, 53);
    font-size: 18px;
    max-width: 800px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
.section-five-content{
    display: flex;
    max-width: 900px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.section-five-customer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.section-five-customer p{
    padding-top: 10px;
    color: rgb(24, 23, 23);
    font-size: 20px;
    font-weight: 700;
}
.section-five-customer span{
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
}