.schedule-wrapper {
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
  background: #f7fbff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  font-family: Arial, sans-serif;
}

.schedule-header {
  text-align: center;
  margin-bottom: 25px;
}

.tag {
  
  margin-bottom: 10px;
}

.schedule-header h2 {
  margin: 40px 0px  10px 0px;
  font-size: 28px;
  color: #222;
}

.schedule-header p {
  color: #666;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}

.schedule-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 12px;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
  background: white;
}

input:focus, select:focus, textarea:focus {
  border-color: #0077ff;
  box-shadow: 0 0 0 3px rgba(0,119,255,0.1);
}

textarea {
  resize: none;
}

button {
  padding: 12px;
  background: linear-gradient(90deg, #0077ff, #00c2ff);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  text-align: center;
}

.footer-info h4 {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.footer-info p {
  font-size: 12px;
  color: #777;
}